{#<h1>Rent It</h1>#}
{#<a href="/">Home</a>#}
{#<a href="/about/">About</a>#}
{#<a href="/contact/">Contact</a>#}

{% load staticfiles %}

<div class="header-v1">
    <!-- Topbar -->
    <div class="topbar-v1">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <ul class="list-inline top-v1-contacts">
                        <a class="logo" href="index.html">
                            {#style="background-image: url('{% static "images/background.jpg"%}')";#}
					        <img src={% static "images/logo.png"%} alt="Logo">
				        </a>
                    </ul>
                </div>

                <div class="col-md-6">
                    <ul class="list-inline top-v1-data">
                        <li><a href="#">My Account</a></li>
                        <li><a href={% url "profiles:edit_profile" %} >Settings</a></li>
                        <li><a href={% url "logout" %} >Log Out</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

